---
title: Routing
---

The documentation in this section is intended for developers and operators interested in <%= vars.first_product_name %> routing and load balancing.


### Understand Routing Components and Concepts

<li><a href="../concepts/architecture/router.html">Gorouter</a></li>

<li><a href="../concepts/http-routing.html">HTTP Routing</a></li>

<li><a href="../services/route-services.html">Route Services</a></li>

<%= vars.vsphere_az_subnav %>

<%= vars.er_network_subnav %>

### Manage and Troubleshoot Routing

<li><a href="../devguide/deploy-apps/routes-domains.html">Routes and Domains</a></li>

<li><a href="../adminguide/manage-domains-routes.html">Managing Cloud Foundry Domains and Routes</a></li>

<li><a href="../adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a></li>

<li><a href="../devguide/services/route-binding.html">Manage Application Requests with Route Services</a></li>

<li><a href="../adminguide/troubleshooting_slow_requests.html">Troubleshooting Slow Requests in Cloud Foundry</a></li>

### Manage Load Balancers

<li><a href="../adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a></li>

<%= vars.ssl_term_vsphere %>

<%= vars.ssl_tls_subnav %>

<%= vars.lb_subnav %>


