---
title: Routing
---

## Understand Routing Components and Concepts

<li><a href="../concepts/architecture/router.html">(Go)Router</a></li>

<li><a href="../services/route-services.html">Route Services</a></li>

<%= vars.ssl_tls_subnav %>

<%= vars.vsphere_az_subnav %>

<%= vars.ert_network_subnav %>

## Manage and Troubleshoot Routing

<li><a href="../devguide/deploy-apps/routes-domains.html">Routes and Domains</a></li>

<li><a href="../adminguide/manage-domains-routes.html">Managing Cloud Foundry Domains and Routes</a></li>

<li><a href="../adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a></li>

<li><a href="../devguide/services/route-binding.html">Manage Application Requests with Route Services</a></li>

<li><a href="../adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a></li>

<%= vars.ssl_term_vsphere %>

<%= vars.lb_subnav %>
