---
title: Routing
---

The documentation in this section is intended for developers and operators interested in <%= vars.first_product_name %> routing and load balancing.

### Understand Routing Components and Concepts

<li><a href="../concepts/architecture/router.html">Gorouter</a></li>

<li><a href="../concepts/http-routing.html">HTTP Routing</a></li>

<li><a href="../services/route-services.html">Route Services</a></li>

<%= vars.tls_info_subnav %>

<%= vars.vsphere_az_subnav %>

<%= vars.er_network_subnav %>

### Manage and Troubleshoot Routing

<li><a href="../devguide/deploy-apps/routes-domains.html">Routes and Domains</a></li>

<li><a href="../adminguide/manage-domains-routes.html">Managing Cloud Foundry Domains and Routes</a></li>

<li><a href="../adminguide/enabling-tcp-routing.html">Enabling TCP Routing</a></li>
<%= vars.tcp_ert_subnav %>
<li><a href="../adminguide/troubleshooting_tcp_routing.html">Troubleshooting TCP Routes</a></li>

<li><a href="../adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a></li>

<li><a href="../adminguide/supporting-websockets.html">Supporting WebSockets</a></li>

<li><a href="../devguide/services/route-binding.html">Manage Application Requests with Route Services</a></li>

<li><a href="../adminguide/routing-keepalive.html">Router Idle Keepalive Connections</a></li>

<li><a href="../adminguide/routing-is.html">Routing Isolation Segments</a></li>

### Manage Load Balancers

<li><a href="../adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a></li>

<li><a href="../adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry</a></li>

<%= vars.ssl_term_haproxy %>

<%= vars.ssl_term_vsphere %>

<%= vars.ssl_tls_subnav %>

<%= vars.lb_subnav %>


